.wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .wrapper > * {
    margin: 20px;
  }
  
  .box {
    border: 5px solid darkblue;
    width: 200px;
    flex-direction: ;
  }
  
  img {
  }
  